<div class="container">
  <h1>Bookmarks conversion tool</h1>
  <p>This tool will convert a bookmarks file from SmartAudio Books to an
    <a
        href="https://manual.audacityteam.org/man/importing_and_exporting_labels.html"
        target="_blank"
        rel="noopener">
      Audacity Label Track</a>.
  </p>
  <p>
    To get your SmartAudio books bookmarks file browse to the directory on your android device using a file manager app.
    Go to Internal Storage -> The "Root folder" as defined in your SmartAudio Books settings -> alongside your audio files. 
  </p>
  <p>
    To import the files you get from this tool please see
    <a
        href="https://manual.audacityteam.org/man/importing_and_exporting_labels.html"
        target="_blank"
        rel="noopener">
      the Audacity Manual</a>
  </p>
  <p>
    Looking for the command line tool? Find it
    <a
        href="https://github.com/jermowery/converter/releases"
        target="_blank"
        rel="noopener">
      here</a>.
  </p>
  <p>
    This project is open source
    <a
        class="github-button"
        href="https://github.com/jermowery/converter-js/fork"
        data-color-scheme="no-preference: light; light: light; dark: dark;"
        data-size="large"
        aria-label="Fork jermowery/converter-js on GitHub">
      Fork</a>
  </p>
  <form [formGroup]="formGroup" (submit)="convertFile()">
    <mat-form-field>
      <mat-label>File</mat-label>
      <ngx-mat-file-input formControName="file" (change)="recordFile($event)"></ngx-mat-file-input>
      <mat-error>Required</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" color="primary">Convert</button>
  </form>
  <br>
  <div *ngIf="fileUploadProgress | async as progress">
    Processsing file: {{ progress | number:'1.0-0' }}%
    <br>
    <mat-progress-bar [value]="progress"></mat-progress-bar>
  </div>
</div>